body {
  background-color: #191c1c;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ffffff;
}

p {
  color: #c8cfde;
  margin-bottom: 10px;
}

.codespan {
  color: #eb3737;
}

#subtext {
  text-align: center;
  font-size: 70%;
}

ul li {
  color: #c8cfde;
}
