body {
  background-color: #191c1c;
}

h1 {
  color: #ffffff;
}

p {
  color: #c8cfde;
  white-space: pre-wrap;
}
p::before,
p::after {
  content: '';
}

.codespan {
  color: #eb3737;
}

#subtext {
  text-align: center;
  font-size: 70%;
}
