body {background-color:#101010; font-family:Arial,sans-serif;}
h1 {color:#ffffff; margin-top:72px;}
p {color:#c8cfde; margin-bottom:10px;}
ul li {color:#c8cfde;}
.codespan {color:#eb3737;}

.topnavbar {background-color:#000000; position:fixed; width:100%; top:0; left:0; margin:auto; z-index:1}
.active {background-color:#037360;}
#projects-dropdown {display:none; position:absolute; background-color:#000000; box-shadow:1px 1px 7px white, -1px 1px 7px white; z-index:-5}
#projects-dropdown a {color:white; padding:12px 16px; text-decoration:none; display:block; text-align:left;}
#projects-dropdown a:hover {background-color:#f1f1f1;}
.dropdown:hover #projects-dropdown {display:block;}

#navlist {list-style-type:none; margin:0; padding:0; overflow:hidden;}
#navlist li {float:left; font-size:26px}
#navlist li a {display:inline-block; color:white; text-align:center; padding:16px 20px; text-decoration:none;}
#navlist li a:hover:not(.active), .dropdown {background-color:#151515}
#subtext {text-align:center;font-size: 70%;}
